<!-- Modal -->
<div class="modal fade" id="summary-table" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th type="button" class="btn btn-primary btn-primary-form">Year/Week</th>
              <th type="button" class="btn btn-primary btn-primary-form">Exchange Rate</th>
              <th type="button" class="btn btn-primary btn-primary-form">Total Amount</th>
              <th type="button" class="btn btn-primary btn-primary-form">Profit/Loss</th>
            </tr>
          </thead>
          <tbody>
            <% @result.value.each do |date, value|%>
              <% unless date == "" %>
                <tr>
                  <th scope="row" type="button" class="btn btn-primary btn-result-form"><%= date %></th>
                  <!-- current_rate + value -->
                  <th scope="row" type="button" class="btn btn-primary btn-result-form"><%=  value.round(4) %></th>
                  <!-- exchange_rate * amount -->
                  <th scope="row" type="button" class="btn btn-primary btn-result-form"><%= exchange_total_amount(@calculation, value) %></th>
                   <!-- (predicted_rate * amount) - (today_rate * amount) -->
                  <th scope="row" type="button" class="btn btn-primary btn-result-form"><%= profit_loss(@calculation, value) %></th>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
